body {
	font-family: arial,sans-serif;
	font-size: 13px;
}

.nav {
	margin: 2px 8px;
	border: 2px 5px;
	padding: 2px 5px;
	text-align: right;
}

#navlink {
	margin: 0px 10px;
	padding: 0px;
	border: 0px;
	vertical-align: middle;
}

ul {
  list-style-type: none;
  margin: 5px;
  padding: 5px;
}

li {
  display: inline;
}

#googlegrid {
	margin: 0px;
	padding: 0px;
	vertical-align: middle;
	opacity: 0.5;
}

#googlegrid:hover {
	opacity: 1;
}

#signin {
	border-style: solid;
	border-width: 10px;
	border-color: #4285f4;
	background-color: #4285f4;
	color: white;
	font-weight: bold;
	margin: 4px 4px;
	text-decoration: none;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
}

/*center logo and forms*/

.center {
	margin: 140px;
	border: 0px;
	text-align: center;
	padding-bottom: 8px;
}

#glogo {
	margin-bottom: 20px;
	padding: 0px;
}

.forms  {
	margin: auto;
	border: solid 1px;
	width: 560px;
	height: 30px;
	border-color: #cacaca;
	padding: 8px;
}

.forms:hover {
	border-color: blue;
}

#search-box {
	width: 560px;
	background: none;
	border: none;
	position: relative;
}	

.forms {
	margin: auto;
	padding: 0px;
}

/*buttons*/

.buttons {
	margin-top: 40px;
	padding: 1px;
}

#search-button {
	background-color: #f0f0f0;
	border: solid 1px #f0f0f0;
	padding: 10px 10px;
	margin: 12px 12px;
	color: gray;
	font-weight: bold;
}

#search-button:hover {
	border: solid 1px;
	border-color: #c3c3c3;
	font-weight: bold;
	color: #383838;
}

/*footer*/

.footer {
	width: 1349px;
	background-color: #f4f4f4;
	border-top: solid 1px #e0e0e0;
	height: 40px;
	margin: 105px 0px 0px 0px;
}

#footer-left {
	float: left;
	margin: 0px;
	padding-top: 10px;

}

#footer-right {
	float: right;
	margin: 0px;
	padding-top: 10px;
	
}

.footer li {
	padding: 5px 9px 5px 9px;
	font-size: 13px
}

.footer a{
	color: #838383;
}



